<div class="row">
  <div class="col-md-12">
    <%= form_for(@project) do |f| %>
      <div class="form-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Title
                <span class="required" aria-required="true">* </span>
              </label>
              <div class="col-md-9">
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Description
                <span class="required" aria-required="true">* </span>
              </label>
              <div class="col-md-9">
                <%= f.text_area :description, class: "form-control", rows: 4 %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-9">Select Developers
                <span class="required" aria-required="true">* </span>
              </label>
              <div class="col-md-9">
                <%= select_tag "project[developer_ids]", options_from_collection_for_select(@developers, 'id', 'first_name'), class: "form-control developer_ids", multiple: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-4">
            <% if @project.new_record? %>
              <%= f.submit 'Create', class: "btn blue primary pull-right" %>
            <% else %>
              <%= f.submit 'Update', class: "btn blue primary pull-right" %>
            <% end %>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    <%end%>
  </div>
</div>
