<div class="row p-2 nav-bg-color">
  <div class="col-md-2">
    <%= link_to 'List Projects', projects_path %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Add Projects', new_project_path %>
  </div>
  <% if params[:controller] == 'projects' && params[:action] == 'edit' %>
    <div class="col-md-2">
      <%= link_to 'Todo List', project_todos_path(@project) %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Add new Todo', new_project_todo_path(@project) %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Assign Developer', ''%>
    </div>
  <% end %>
</div>