<!DOCTYPE html>
<html>
  <head>
    <title>PmTool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-header-fixed page-quick-sidebar-over-content">
    <div class="page-header navbar navbar-fixed-top bg-primary">
      <div class="page-header-inner">
        <div class="page-logo">
          <%= link_to image_tag("logo.png", alt: "logo", class: "logo-default", height: "50"), url_for("http://localhost:3000/"), target: "_blank"%>
          <div class="menu-toggler sidebar-toggler hide">
          </div>
        </div>
      </div>
      <% if current_user.present?%>
        <div class="d-flex">
          <div class="mr-5"> Welcome <%= current_user.full_name %></div>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'pull-right' %>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="page-container">
      <% if current_user.present? %>
        <div></div>
        <%= render "layouts/navigation"%>
      <% end %>
      <div class="page-content-wrapper">
        <div class="page-content">
          <p class="notice"><%= notice.html_safe if notice %></p>
          <p class="alert"><%= alert.html_safe if alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
